.card-img-top {
    width: 100%;
    height: 45vh;
    object-fit: cover;
}
.card{
    border: none;
}

.button{
  position: absolute;
  font-size: 18px;
  color: #fff;
  top:30%;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  transform:scale(0);
}
.button a{
	text-decoration:none;
	border:1px solid #fff;
	padding:5px 10px;
	border-radius:10px;
	color:#fff;
	background:#16b1ff;
}

.animated:hover img{
	opacity: 0.4;
}
.animated * {
	transition: all 500ms ease-in-out;
}

.animated:hover .button{
	transform: scale(1.5);
}
@media only screen and (min-width: 768px){
  .card-img-top{
       height:25vh;
  }
  .button{
  	top:20%;
  }
}