.card-img-top {
    width: 100%;
    height: 380px;
    object-fit: cover;
}
.card{
    border: none;
}

.animated i {
  position: absolute;
  top: 38%;
  left: 50%;
  font-size: 40px;
  color: #fafafa;
  width: 40px;
  height: 40px;
  line-height: 50px;

  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: -webkit-transform 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -o-transition: transform 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: transform 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: transform 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045), -webkit-transform 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.animated:hover img {
  opacity: 0.6;
}

.animated:hover i,
.animated:focus i {
  -webkit-transform: translate(-50%, -50%) scale(2);
  -ms-transform: translate(-50%, -50%) scale(2);
  transform: translate(-50%, -50%) scale(2);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.animated:hover img{
	opacity: 0.6;
}
.animated a:hover, a.turquoise, #cookie a{
  text-decoration: none;
}
#cookies a{
  color: #007bff;;
}

.turquoise{
  color: #0085A1;
}

.delete i {
      margin-top: 30px;
}
.add_ingredient i{
  padding-right: 10px
}

.icons i,.header_icons i{
  padding-right: 20px;
  font-size: 30px;
}

.header_icons{
   text-align: right;
}

.meal_image{
  margin-bottom: 10px;
}

.green{
  color: #4bc400;
}
.red{
  color: #ff0000;
}
.author p{
  margin: 0 5px;
  color: #888;
}

.modal-sign button{
  position: absolute;
  right: 20px;
}
.user_icon i, .pass_icon i{
    margin-top: 30px;
    font-size: 25px;
    padding-left: 8px;
}
#ingredients,#steps,#add_ingredient,#add_step{
  margin-top:25px;
}
#category_form{
  margin-bottom: 20px;
}
.search_input input[type=text]:focus:not([readonly]) {
border-bottom: 1px solid #4dd0e1;
box-shadow: 0 1px 0 0 #4dd0e1;
}
@media only screen and (min-width: 768px){
  .card-img-top{
       height:220px;
  }
  .animated i{
  	top:25%;
  }
}