{% extends 'layout.html' %} {% block img %}
<header class="masthead" style="background-image: url('../static/img/carrot.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Cook with Us</h1>
          <span class="subheading">Recipes created with passion and love</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}
{% block content %} 
 <div class="container">
   <div class="row text-center">
{% for recipe in recipes %}

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{{recipe.image}}" alt="">
          <div class="card-body">
            <h4 class="card-title">{{recipe.name}}</h4>
            <a href="/{{ recipe.id }}" class="btn btn-primary">Read More &rarr;</a>
            
          </div>
          
        </div>
      </div>
 

{% endfor %}
 </div>
</div>

{% endblock %}
