<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/clean-blog.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    <title>Appetite Food </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/">Appetite Food</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>

                    <!--When user is logged in has possibility to add new recipes-->

                    {% if user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('add_recipe') }}">Add recipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}" data-target="#login_modal">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item  tooltipp">
                        <a class="nav-link" href="" data-toggle="modal" data-target="#login_modal">Login</a>
                        <span class="tooltiptext">Login to add and edit recipes</span>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Header -->
    {% block img %} {% endblock %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    {% block header %} {% endblock %}
                </div>
            </div>
        </div>
    </div>
    </header>

    <!--Alert modal-->

    {% with alerts = get_flashed_messages(category_filter=["alert"]) %} {% if alerts %}
    <div class="modal fade" id="alert_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <br> 
                <div class="div">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="flashes text-center">
                        {% for alert in alerts %} {% if user %}
                        <h4>{{ alert }}{{ user }}</h4>
                        <p>Right now you can add, edit and delete your recipes.</p>
                        {% else %}
                        <h4>{{ alert }}</h4>
                        {% endif %} {% endfor %}
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    {% endif %} {% endwith %} {% block content %} {% endblock %}


    <!--Login Modal-->

    <div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <br>
                <div class="row modal-sign text-center">
                    <div class="col-12">
                        <h4 class="modal-title">Sign in</h4>
                    </div>
                    <div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                    </div>

                </div>
                <hr>
                <form method=POST action="{{ url_for('login') }}" novalidate>
                    <div class="modal-body">
                        <div class="control-group row">
                            <div class="col-2 user_icon">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="form-group floating-label-form-group controls col-9">
                                <label>Username</label>
                                <input type="text" class="form-control" name="username" placeholder="Username" required data-validation-required-message="Please enter your username">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>

                        <div class="control-group row">
                            <div class="col-2 pass_icon">
                                <i class="fas fa-lock"></i>
                            </div>
                            <div class="form-group floating-label-form-group controls col-9">
                                <label>Password</label>
                                <input type="password" class="form-control" name="pass" placeholder="Password" required data-validation-required-message="Please enter your password">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
                <br>
                <div>
                    <p class="text-center">Not a member? <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#register_modal" class="turquoise">Register</a></p>
                </div>

            </div>
        </div>
    </div>


    <!--Register Modal-->

    <div class="modal fade" id="register_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <br>
                <div class="row modal-sign text-center">
                    <div class="col-12">
                        <h4 class="modal-title">Sign up</h4>
                    </div>
                    <div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                    </div>
                </div>
                <form method=POST action="{{ url_for('register') }}">
                    <div class="modal-body">
                        <div class="control-group row">
                            <div class="col-2 user_icon">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="form-group floating-label-form-group controls col-9">
                                <label>Username</label>
                                <input type="text" class="form-control" name="username" placeholder="Username" required data-validation-required-message="Please enter your username">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>

                        <div class="control-group row">
                            <div class="col-2 pass_icon">
                                <i class="fas fa-lock"></i>
                            </div>
                            <div class="form-group floating-label-form-group controls col-9">
                                <label>Password</label>
                                <input type="password" class="form-control" name="pass" placeholder="Password" required data-validation-required-message="Please enter your password">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/lukasz_plawinski/">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/lukasz-plawinski-2b96a9168/">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/LukaszPlawinski">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Lukasz Plawinski 2019</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- START Bootstrap-Cookie-Alert -->
    <div class="alert text-center cookiealert" role="alert" id='cookie'>
        <b>Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website. <a href="https://cookiesandyou.com/" target="_blank">Learn more</a>

        <button type="button" class="btn btn-warning btn-sm acceptcookies" aria-label="Close">
        I agree
    </button>
    </div>
    <!-- END Bootstrap-Cookie-Alert -->

    <script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>
    <script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <script src="{{url_for('static',filename='js/clean-blog.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/contact_me.js')}}"></script>
    <script src="{{url_for('static',filename='js/jqBootstrapValidation.js')}}"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
</body>


</html>
