<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" >
     <link href="{{url_for('static',filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/clean-blog.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    <title>Appetite Food </title>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/">Appetite Food</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('add_recipe') }}">Add recipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#login_modal" >Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

      <!-- Page Header -->
     {% block img %}

    {% endblock %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    {% block header %} {% endblock %}
                </div>
            </div>
        </div>
    </div>
     </header>
   
   

    {% block content %} {% endblock %}
    
    
    <!--Login Modal-->
    
    <div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <br>
      <div class="row modal-sign text-center">
          <div class="col-12">
              <h5 class="modal-title">Sign in</h5>
          </div>
           <div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
          </div>

      </div>
      
      <hr>
      <div class="modal-body">
        <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>username</label>
                        <input type="text" class="form-control" name="username" placeholder="username" id="username" required data-validation-required-message="Please enter your username">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                
                 <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>password</label>
                        <input type="password" class="form-control" name="password"  placeholder="password" id="password" required data-validation-required-message="Please enter your password">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
      </div>
      <hr>
      <div class="text-center">
        <button type="button" class="btn btn-primary">Login</button>
      </div>
      <br>
      <div >
          <p class="text-center">Not a member? <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#register_modal" class="blue-text">Sign Up</a></p>
      </div>
      
    </div>
  </div>
</div>


    <!--Register Modal-->
    
<div class="modal fade" id="register_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <br>
      <div class="row modal-sign text-center">
          <div class="col-12">
              <h5 class="modal-title">Sign up</h5>
          </div>
          <div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
          </div>
      </div>
      <div class="modal-body">
        
        <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>username</label>
                        <input type="text" class="form-control" name="username" placeholder="username" id="username" required data-validation-required-message="Please enter your username">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                
                 <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>password</label>
                        <input type="password" class="form-control" name="password"  placeholder="password" id="password" required data-validation-required-message="Please enter your password">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
      </div>
      <br>
      <div class="text-center">
        <button type="button" class="btn btn-primary">Register</button>
      </div>
      <br>
    </div>
  </div>
</div>


     <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Appetite Food 2019</p>
                </div>
            </div>
        </div>
    </footer>


    <script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <script src="{{url_for('static',filename='js/clean-blog.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/contact_me.js')}}"></script>
    <script src="{{url_for('static',filename='js/jqBootstrapValidation.js')}}"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
</body>


</html>
